*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Reset */

/* Assets */

.yellow {
  color: #E9BB18;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
}

h1{
  text-align: center;
}

/* Header */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex */
  padding: 0 2em;
}

nav .nav-left{
  display: flex;
  align-items: center;
  /* flex */

  padding: 1em;
  
  height: 50px;
  border-radius: 10px;
  background-color: #E9BB18;
  color: #000;
  font-weight: 700;
}

nav .nav-right ul{
  display: flex;
  gap: 2em;
  /* flex */
  list-style-type: none;
}

nav .nav-right ul li{
  padding: 40px 0;
}

nav .nav-right ul li a {
  position: relative;
  padding: 40px 0;
  color: #fff;
  text-decoration: none;
}

nav .nav-right ul li a:hover{
  color: #E9BB18;
}

nav .nav-right ul li a:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 2px;
  background-color: #E9BB18;
}

/* Main */

main{
  margin-bottom: 2em;
}

h2{
  padding: .5em 0;
  text-align: center;
}

.container{
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  /* flex */
  max-width: 1200px;
  margin: 0 auto;

  padding-top: 2em;
}

.card{
  display: flex;
  flex-flow: column nowrap;
  gap: .5em;
  /* flex */

  width: calc(100% / 2 - 1em / 2 * 1);

  padding: 1em;
  border-radius: 10px;
  background-color: #212121;

  transition: transform .4s ease;
}

.card:hover {
  transform: scale(1.02);
}

img{
  width: 100%;
  height: 750px;
  object-fit: cover;  

  border-radius: 10px;
}

.infos{
  border-radius: 10px;
  height: 100%;
  padding: 1em;
  background-color: #000;
}

.infos>*{
  padding-bottom: 1em;
}

/* Footer */
footer{
  position: relative;

  display: flex;
  justify-content: space-between;
  padding: 2em;
}

footer::before{
  content: '';

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;

  background-color: #212121;
}

footer .social>*{
  padding: 0 .5em;
}