*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Reset */

h1{
  text-align: center;
  padding-top: 1em;
}

.container{
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  /* flex */
  max-width: 1200px;
  margin: 0 auto;

  padding-top: 2em;
}

.card{
  display: flex;
  flex-flow: column nowrap;
  gap: .5em;
  /* flex */

  width: calc(100% / 2 - 1em / 2 * 1);

  border: 1px solid black;
}

img{
  width: 100%;
}